vite.config.*
vue.config.*
rollup.config.*
nuxt.config.*
jest.config.*
tailwind.config.*
unocss.config.*
vitest.config.*
vetur.config.*
windi.config.*
jsconfig.*
tsconfig.*
tsdoc.*
.babelrc.*
babel.config.*
.postcssrc.*
postcss.config.*
.prettierrc.*
prettier.config.*
.stylelintrc.*
stylelint.config.*
.eslintrc.*
eslint.config.*
.cz-config.js
.browserslist*
.editorconfig
*.d.ts
.vscode/*
.git/*
.env*
*.config.*
Dockerfile
*.conf
*.yaml
*.md
*.png
*.jpg
*.gif
*.pdf
*.doc
node_modules
node_modules/*
public/*
dist/*
mock/*
docs/*
bower_components/*
vender/*
external/*
