home=http://10.18.104.127:5001/repository/npm-public
registry=http://10.18.104.127:5001/repository/npm-public/
sass_binary_site=http://10.18.104.127:5001/repository/npm-binary-public/node-sass/
electron_mirror=http://10.18.104.127:5001/repository/npm-binary-public/electron/
profiler_binary_host_mirror=http://10.18.104.127:5001/repository/npm-binary-public/node-inspector/
chromedriver_cdnurl=http://10.18.104.127:5001/repository/npm-binary-public/chromedriver
# home=https://www.npmmirror.com/
# registry=https://registry.npmmirror.com/
engine-strict =true
auto-install-peers = true
strict-peer-dependencies=false
# shamefully-hoist=false
public-hoist-pattern[]=@vue/runtime-core
