home=https://www.npmmirror.com/
registry=https://registry.npmmirror.com/
engine-strict =true
auto-install-peers = true
strict-peer-dependencies=false
# shamefully-hoist=false
# public-hoist-pattern[]=@vue/runtime-core
