@primary-color: #1890ff; // 全局主色
@success-color: #52c41a; // 成功色
@warning-color: #faad14; // 警告色
@error-color: #ff4d4f; // 错误色
@normal-color: #000000; // 文字颜色
:root {
  --primary-color: @primary-color;
  --success-color: @success-color;
  --warning-color: @warning-color;
  --error-color: @error-color;
  --text-color: @normal-color;
}
