// @import '@unocss/reset/tailwind-compat.css';
@import 'ant-design-vue/dist/reset.css';

html,
body {
  padding: 0;
  margin: 0;
}
.slide-leave-active,
.slide-enter-active {
  transition: all 0.3s ease;
}
.slide-enter-from {
  opacity: 0;
  transform: translateX(-10px);
}
.slide-leave-to {
  opacity: 0;
  transform: translateX(10px);
}

.clear-float:before,
.clear-float:after {
  clear: both;
  display: table;
  width: 0;
  height: 0;
  content: ' ';
}
// 1. 重置基础动画和混合模式
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

// 2. 亮色主题时的层级控制
::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 2147483646;
}
// 3. 暗色主题时的层级反转
html.dark::view-transition-old(root) {
  z-index: 2147483646;
}

html.dark::view-transition-new(root) {
  z-index: 1;
}

